# SERVER PORT
PORT = 3000

# HEADDERS CONFIG
ALLOWED_ORIGINS = 'http://localhost:3000'
ALLOWED_METHODS = 'GET, POST'
ALLOWED_HEADERS = 'Content-Type, Authorization'
CONTENT_SECURITY_POLICY = 'default-src "self"; script-src "self"; style-src "self"; font-src "self"; img-src "self"; object-src "self"; media-src: "self";'
X_CODED_BY = 'Amit Manna (https://github.com/AmitM0287)'

# JWT
JWT_SECRET = 'Hare Kṛṣṇa Hare Kṛṣṇa Kṛṣṇa Kṛṣṇa Hare Hare | Hare Rama Hare Rama Rama Rama Hare Hare'
